<div class="containerBigCard">
    <div class="bigCard-Picture">
        <img src="https://loremflickr.com/320/240/paris,girl/all"
        alt=""
        height="240px"
        width="100%"
        

        
        
        >
    </div>
    <a href=""></a>
    <div class="bigCard-Title">
        <h1><a href="#">Lorem Ipsum</a></h1>
    </div>
    <div class="bigCard-Description">
        <p p>
            <a href="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique in ex eu tincidunt. Pellentesque molestie enim et dolor laoreet, et eleifend risus varius. In hac habitasse platea dictumst. Nulla sit amet eros tincidunt, vestibulum arcu at, sodales purus. Mauris nibh justo, euismod id arcu nec, semper blandit sapien. Curabitur tincidunt diam purus, nec tempor tortor convallis nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</a>
        </p>
    </div>
</div>