<header>
    <app-menu></app-menu>
</header>


<app-title></app-title>

<div class="containerArticles">
    <div class="articlesMain">
        <app-big-card 
        photoCover="https://loremflickr.com/320/240/" 
        cardTitle="Gatinhos manhosos"
        cardDescription="Vem pra tropa dos gatinhos manhosos">
    </app-big-card>
    </div>
    <div class="articlesOthers">
        <app-card 
        photoCover="https://loremflickr.com/320/240/paris,girl/all"
        cardTitle="Chegou familiaaaa"
        >
    </app-card>
        <app-card 
        photoCover="https://loremflickr.com/320/240/dogs/all"
        cardTitle="vapo vapo"
        >
    </app-card>
  
    </div>

</div>